@model List<Data.Models.TVModel>;

<h1>All TVs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Model</th>
      <th scope="col">Diagonal</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      @foreach (var tv in Model)
        {
            <tr class="align-middle">
                <th scope="row">@tv.Id</th>
                <td>@tv.Model</td>
                <td>@tv.Diagonal</td>
                <td>@tv.Price hryvna</td>
                <td>
                    <a asp-controller="TVs" asp-action="Details" asp-route-id="@tv.Id" class="btn btn-primary">Details</a>
                    <a asp-controller="TVs" asp-action="Edit" asp-route-id="@tv.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="TVs" asp-action="Delete" asp-route-id="@tv.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
  </tbody>
</table>

<a asp-controller="TVs" asp-action="Create" class="btn btn-primary">Create new TV</a>